* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    height: 80px;
    background-color: orange;
}
img {
    width: 100px;
    height: 200px;
    border-radius: 50%;
}


