* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    height: 80px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    display: flex;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.sub-menu li {
   list-style: none;
   display: inline-block;
   line-height: 80px;
   padding: 0px 15px;
}

.sub-menu li a {
    text-decoration: none;
}

.right-sidebar {
    display: flex;
}


